/*
Author: Rui
Author URI: http://www.rui.today
Description: style sheet for the idnex page
*/

html {
	scroll-behavior: smooth;
	text-align: center;
}

@font-face { font-family: BeonRegular; src: url('font/Beon/Beon-Regular.otf'); }

@font-face { font-family: RalewayRegular; src: url('font/Raleway/Raleway-Regular.ttf'); }

a:link { text-decoration: none; }

a:hover {
	cursor: pointer;
	opacity: 1;
	color: white;
}

.container-fluid {
	width: 100%;
	height: 750px;
	background-size: cover;
	background-repeat: no-repeat;
}

img.sub {
	vertical-align: sub;
	height: 42px;
	padding-right: 10px;
}

#section-1 {
	background-image: url('assets/Seattle.jpg');
}

.section-1-menu {
	opacity: 0.8;
	font-family: 'BeonRegular';
	font-size: 30px;
	font-weight: 700;
	color: white;
	border-top: 2px solid #ffad33;
}

.section-1-menu:hover { border-top: 4px solid #ffad33; }

.section-1-name {
	animation: fadein forwards;
	animation-delay: 2s;
	animation-duration: 4s;
	opacity: 0;
	font-family: 'RalewayRegular';
	font-size: 38px;
	font-weight: 700;
	color: #ffffff;
}

@keyframes fadein {
	to { opacity: 0.9; }
}

.displayInlineBlock { display: inline-block; }

#emphasizer { 
	color: #ffad33;
	font-weight: bold;
}
.menu-row,
.name-row {
	margin-top: 5px;
}

#section-2 { background-image: url('assets/MapleLeaves.jpg'); }
#section-3 { background-image: url('assets/InnerHabor.jpg'); }

.section-title {
	padding-top: 40px;
	font-family: 'RalewayRegular';
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
	opacity: 0.9;
}

.identity-descriptions { padding: 30px; }
hr.about-me-break {
	height: 5px;
    width: 40px;
    border: none;
    border-radius: 10px;
	background-color: #ffad33;
}

.section-3-identity {
	font-family: 'RalewayRegular';
	font-weight: 700;
	font-size: 30px;
	color: #ffad33;
	opacity: 0.9;
}

.section-3-description {
	font-family: 'RalewayRegular';
	font-size: 20px;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 0;
}

#section-5 { background-image: url("assets/EnglishBay.jpg"); }

#topBtn {
	display: none;
	position: fixed;
	bottom: 38px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #ffad33;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	opacity: 0.4;
}
#topBtn:hover { opacity: 0.8; }
#email { color: #ffad33; }

#email:hover { color: #337ab7; }

#qrCode {
	height: 65px;
	border-radius: 10px;
}

.socialMedia {
	height: 90px;
	opacity: 0.8;
}

footer {
	opacity: 0.8;
	background-color: #ffad33;
	bottom: 0;
}

img.fullWidth { width: 100%; }

.imgFade {
	-webkit-transition: background-image 3s ease-in-out;
	transition: background-image 3s ease-in-out;
}

@media only screen and (min-width: 768px) {
	.mobile { display: block; }
}

@media only screen and (max-width: 767px) {
	[class*="col-"] {
		padding-left: 0;
	  	padding-right: 0;
	}
	.mobile { display: none; }
	.section-1-menu { font-size: 18px; }
	.mobilePadding { padding-top: 70px; }
}